 <div class="card">
  <div class="card__header">
     <h3 class="card__title"><%= t('components.key_person_risks_details.title') %></h3>
     <p class="card__description"><%= t('components.key_person_risks_details.description') %></p>
  </div>
  <div class="card__body">
    <% if any_risks? %>
      <div class="space-y-3">
        <% risks_data.each do |risk| %>
            <div class="card-item">
              <div class="content-card">
                <span class="text-heading"><%= risk[:technology]&.name %></span>
                <span class="text-subtle"><%= risk[:technology]&.category %></span>
             </div>
               <div class="content-row">
                 <% if multiple_teams? %>
                   <span class="text-subtle mr-2"><%= risk[:team]&.name %></span>
                 <% end %>
                 <span class="badge badge--orange">
                   <%= risk[:user]&.full_name %>
                 </span>
               </div>
            </div>
        <% end %>
      </div>
    <% else %>
        <p class="text-muted--center py-4"><%= t('components.key_person_risks_details.no_data') %></p>
    <% end %>
  </div>
</div>
