<div class="card">
  <div class="card__header">
     <h3 class="card__title"><%= t('components.red_zones_details.title') %></h3>
     <p class="card__description"><%= t('components.red_zones_details.description') %></p>
  </div>
  <div class="card__body">
    <% if any_red_zones? %>
      <div class="space-y-3">
        <% red_zones_data.each do |red_zone| %>
           <div class="card-item">
               <div class="content-card">
                 <span class="text-heading"><%= red_zone[:technology]&.name %></span>
                 <span class="text-subtle"><%= red_zone[:technology]&.category %></span>
              </div>
                <div class="content-row">
                  <% if multiple_teams? %>
                    <span class="text-subtle mr-2"><%= red_zone[:team]&.name %></span>
                  <% end %>
                  <span class="badge badge--danger">
                     <%= "#{red_zone[:expert_count]}/#{red_zone[:target_experts]}" %>
                  </span>
                </div>
           </div>
        <% end %>
      </div>
    <% else %>
        <p class="text-muted--center py-4"><%= t('components.red_zones_details.no_data') %></p>
    <% end %>
  </div>
</div>
