<div class="card mt-6">
  <div class="card__header">
     <h3 class="card__title"><%= t('components.team_member_metrics.title') %></h3>
     <p class="card__description">
        <%= t('components.team_member_metrics.description') %>
     </p>
  </div>
   <div class="card__body overflow-x-auto">
    <% if any_data? %>
       <table class="table">
        <thead>
          <tr>
               <th class="table__header-cell table__header-cell--bg"><%= t('components.team_member_metrics.metric') %></th>
            <% team_members.each do |member| %>
                <th class="table__header-cell table__header-cell--center table__header-cell--bg table__header-cell--min-width">
                  <div class="text-column-heading"><%= member.full_name.split.first %></div>
               </th>
            <% end %>
          </tr>
        </thead>
          <tbody class="divide-y divide-gray-200 dark:divide-gray-700">

          <!-- Competence Level Section -->
           <tr>
             <td colspan="<%= team_members.size + 1 %>" class="section-header section-header--indigo">
                <div class="content-row content-row--gap">
                  <span><%= t('components.team_member_metrics.competence_level') %></span>
                 <span class="section-header__hint section-header__hint--indigo">
                    <%= t('components.team_member_metrics.competence_level_hint') %>
                 </span>
               </div>
             </td>
           </tr>
          <tr>
            <td class="table__cell--metric"><%= t('components.team_member_metrics.total') %></td>
            <% team_members.each do |member| %>
              <% value = team_member_metrics[member.id]&.dig(:competence_level, :total) || 0 %>
              <% change = team_member_metrics[member.id]&.dig(:competence_level, :total_change) %>
              <td class="table__cell--value">
                <div class="relative-container">
                   <span class="badge badge--primary">
                      <%= value %>
                    </span>
                  <% if change && change != 0 %>
                    <span class="change-indicator <%= change > 0 ? 'change-indicator--positive' : 'change-indicator--negative' %>">
                      <% if change > 0 %>
                        <svg class="icon-sm" viewBox="0 0 20 20" fill="currentColor">
                          <path fill-rule="evenodd" d="M3.293 9.707a1 1 0 010-1.414l6-6a1 1 0 011.414 0l6 6a1 1 0 01-1.414 1.414L11 5.414V17a1 1 0 11-2 0V5.414L4.707 9.707a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                        </svg>
                      <% else %>
                        <svg class="icon-sm" viewBox="0 0 20 20" fill="currentColor">
                          <path fill-rule="evenodd" d="M16.707 10.293a1 1 0 010 1.414l-6 6a1 1 0 01-1.414 0l-6-6a1 1 0 111.414-1.414L9 14.586V3a1 1 0 012 0v11.586l4.293-4.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                        </svg>
                      <% end %>
                      <%= change > 0 ? '+' : '' %><%= change %>
                    </span>
                  <% end %>
                </div>
              </td>
            <% end %>
          </tr>
          <tr>
            <td class="table__cell--metric-indented">
              <span class="inline-indicator inline-indicator--red">
                <%= t('components.team_member_metrics.high') %>
              </span>
            </td>
            <% team_members.each do |member| %>
              <% value = team_member_metrics[member.id]&.dig(:competence_level, :high) || 0 %>
              <% change = team_member_metrics[member.id]&.dig(:competence_level, :high_change) %>
              <td class="table__cell--value">
                <div class="relative-container">
                  <span class="text-value"><%= value %></span>
                  <% if change && change != 0 %>
                    <span class="change-indicator <%= change > 0 ? 'change-indicator--positive' : 'change-indicator--negative' %>">
                      <% if change > 0 %>
                        <svg class="icon-sm" viewBox="0 0 20 20" fill="currentColor">
                          <path fill-rule="evenodd" d="M3.293 9.707a1 1 0 010-1.414l6-6a1 1 0 011.414 0l6 6a1 1 0 01-1.414 1.414L11 5.414V17a1 1 0 11-2 0V5.414L4.707 9.707a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                        </svg>
                      <% else %>
                        <svg class="icon-sm" viewBox="0 0 20 20" fill="currentColor">
                          <path fill-rule="evenodd" d="M16.707 10.293a1 1 0 010 1.414l-6 6a1 1 0 01-1.414 0l-6-6a1 1 0 111.414-1.414L9 14.586V3a1 1 0 012 0v11.586l4.293-4.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                        </svg>
                      <% end %>
                      <%= change > 0 ? '+' : '' %><%= change %>
                    </span>
                  <% end %>
                </div>
              </td>
            <% end %>
          </tr>
          <tr>
            <td class="table__cell--metric-indented">
              <span class="inline-indicator inline-indicator--yellow">
                <%= t('components.team_member_metrics.normal') %>
              </span>
            </td>
            <% team_members.each do |member| %>
              <% value = team_member_metrics[member.id]&.dig(:competence_level, :normal) || 0 %>
              <% change = team_member_metrics[member.id]&.dig(:competence_level, :normal_change) %>
              <td class="table__cell--value">
                <div class="relative-container">
                  <span class="text-value"><%= value %></span>
                  <% if change && change != 0 %>
                    <span class="change-indicator <%= change > 0 ? 'change-indicator--positive' : 'change-indicator--negative' %>">
                      <% if change > 0 %>
                        <svg class="icon-sm" viewBox="0 0 20 20" fill="currentColor">
                          <path fill-rule="evenodd" d="M3.293 9.707a1 1 0 010-1.414l6-6a1 1 0 011.414 0l6 6a1 1 0 01-1.414 1.414L11 5.414V17a1 1 0 11-2 0V5.414L4.707 9.707a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                        </svg>
                      <% else %>
                        <svg class="icon-sm" viewBox="0 0 20 20" fill="currentColor">
                          <path fill-rule="evenodd" d="M16.707 10.293a1 1 0 010 1.414l-6 6a1 1 0 01-1.414 0l-6-6a1 1 0 111.414-1.414L9 14.586V3a1 1 0 012 0v11.586l4.293-4.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                        </svg>
                      <% end %>
                      <%= change > 0 ? '+' : '' %><%= change %>
                    </span>
                  <% end %>
                </div>
              </td>
            <% end %>
          </tr>
          <tr>
            <td class="table__cell--metric-indented">
              <span class="inline-indicator inline-indicator--green">
                <%= t('components.team_member_metrics.low') %>
              </span>
            </td>
            <% team_members.each do |member| %>
              <% value = team_member_metrics[member.id]&.dig(:competence_level, :low) || 0 %>
              <% change = team_member_metrics[member.id]&.dig(:competence_level, :low_change) %>
              <td class="table__cell--value">
                <div class="relative-container">
                  <span class="text-value"><%= value %></span>
                  <% if change && change != 0 %>
                    <span class="change-indicator <%= change > 0 ? 'change-indicator--positive' : 'change-indicator--negative' %>">
                      <% if change > 0 %>
                        <svg class="icon-sm" viewBox="0 0 20 20" fill="currentColor">
                          <path fill-rule="evenodd" d="M3.293 9.707a1 1 0 010-1.414l6-6a1 1 0 011.414 0l6 6a1 1 0 01-1.414 1.414L11 5.414V17a1 1 0 11-2 0V5.414L4.707 9.707a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                        </svg>
                      <% else %>
                        <svg class="icon-sm" viewBox="0 0 20 20" fill="currentColor">
                          <path fill-rule="evenodd" d="M16.707 10.293a1 1 0 010 1.414l-6 6a1 1 0 01-1.414 0l-6-6a1 1 0 111.414-1.414L9 14.586V3a1 1 0 012 0v11.586l4.293-4.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                        </svg>
                      <% end %>
                      <%= change > 0 ? '+' : '' %><%= change %>
                    </span>
                  <% end %>
                </div>
              </td>
            <% end %>
          </tr>

          <!-- Universality Section -->
           <tr>
             <td colspan="<%= team_members.size + 1 %>" class="section-header section-header--blue">
                <div class="content-row content-row--gap">
                  <span><%= t('components.team_member_metrics.universality') %></span>
                 <span class="section-header__hint section-header__hint--blue">
                    <%= t('components.team_member_metrics.universality_hint') %>
                 </span>
               </div>
             </td>
           </tr>
          <tr>
            <td class="table__cell--metric"><%= t('components.team_member_metrics.total') %></td>
            <% team_members.each do |member| %>
              <% value = team_member_metrics[member.id]&.dig(:universality, :total) || 0 %>
              <% change = team_member_metrics[member.id]&.dig(:universality, :total_change) %>
              <td class="table__cell--value">
                <div class="relative-container">
                   <span class="badge badge--secondary">
                     <%= value %>
                   </span>
                  <% if change && change != 0 %>
                    <span class="change-indicator <%= change > 0 ? 'change-indicator--positive' : 'change-indicator--negative' %>">
                      <% if change > 0 %>
                        <svg class="icon-sm" viewBox="0 0 20 20" fill="currentColor">
                          <path fill-rule="evenodd" d="M3.293 9.707a1 1 0 010-1.414l6-6a1 1 0 011.414 0l6 6a1 1 0 01-1.414 1.414L11 5.414V17a1 1 0 11-2 0V5.414L4.707 9.707a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                        </svg>
                      <% else %>
                        <svg class="icon-sm" viewBox="0 0 20 20" fill="currentColor">
                          <path fill-rule="evenodd" d="M16.707 10.293a1 1 0 010 1.414l-6 6a1 1 0 01-1.414 0l-6-6a1 1 0 111.414-1.414L9 14.586V3a1 1 0 012 0v11.586l4.293-4.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                        </svg>
                      <% end %>
                      <%= change > 0 ? '+' : '' %><%= change %>
                    </span>
                  <% end %>
                </div>
              </td>
            <% end %>
          </tr>
          <tr>
            <td class="table__cell--metric-indented">
              <span class="inline-indicator inline-indicator--red">
                <%= t('components.team_member_metrics.high') %>
              </span>
            </td>
            <% team_members.each do |member| %>
              <% value = team_member_metrics[member.id]&.dig(:universality, :high) || 0 %>
              <% change = team_member_metrics[member.id]&.dig(:universality, :high_change) %>
              <td class="table__cell--value">
                <div class="relative-container">
                  <span class="text-value"><%= value %></span>
                  <% if change && change != 0 %>
                    <span class="change-indicator <%= change > 0 ? 'change-indicator--positive' : 'change-indicator--negative' %>">
                      <% if change > 0 %>
                        <svg class="icon-sm" viewBox="0 0 20 20" fill="currentColor">
                          <path fill-rule="evenodd" d="M3.293 9.707a1 1 0 010-1.414l6-6a1 1 0 011.414 0l6 6a1 1 0 01-1.414 1.414L11 5.414V17a1 1 0 11-2 0V5.414L4.707 9.707a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                        </svg>
                      <% else %>
                        <svg class="icon-sm" viewBox="0 0 20 20" fill="currentColor">
                          <path fill-rule="evenodd" d="M16.707 10.293a1 1 0 010 1.414l-6 6a1 1 0 01-1.414 0l-6-6a1 1 0 111.414-1.414L9 14.586V3a1 1 0 012 0v11.586l4.293-4.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                        </svg>
                      <% end %>
                      <%= change > 0 ? '+' : '' %><%= change %>
                    </span>
                  <% end %>
                </div>
              </td>
            <% end %>
          </tr>
          <tr>
            <td class="table__cell--metric-indented">
              <span class="inline-indicator inline-indicator--yellow">
                <%= t('components.team_member_metrics.normal') %>
              </span>
            </td>
            <% team_members.each do |member| %>
              <% value = team_member_metrics[member.id]&.dig(:universality, :normal) || 0 %>
              <% change = team_member_metrics[member.id]&.dig(:universality, :normal_change) %>
              <td class="table__cell--value">
                <div class="relative-container">
                  <span class="text-value"><%= value %></span>
                  <% if change && change != 0 %>
                    <span class="change-indicator <%= change > 0 ? 'change-indicator--positive' : 'change-indicator--negative' %>">
                      <% if change > 0 %>
                        <svg class="icon-sm" viewBox="0 0 20 20" fill="currentColor">
                          <path fill-rule="evenodd" d="M3.293 9.707a1 1 0 010-1.414l6-6a1 1 0 011.414 0l6 6a1 1 0 01-1.414 1.414L11 5.414V17a1 1 0 11-2 0V5.414L4.707 9.707a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                        </svg>
                      <% else %>
                        <svg class="icon-sm" viewBox="0 0 20 20" fill="currentColor">
                          <path fill-rule="evenodd" d="M16.707 10.293a1 1 0 010 1.414l-6 6a1 1 0 01-1.414 0l-6-6a1 1 0 111.414-1.414L9 14.586V3a1 1 0 012 0v11.586l4.293-4.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                        </svg>
                      <% end %>
                      <%= change > 0 ? '+' : '' %><%= change %>
                    </span>
                  <% end %>
                </div>
              </td>
            <% end %>
          </tr>
          <tr>
            <td class="table__cell--metric-indented">
              <span class="inline-indicator inline-indicator--green">
                <%= t('components.team_member_metrics.low') %>
              </span>
            </td>
            <% team_members.each do |member| %>
              <% value = team_member_metrics[member.id]&.dig(:universality, :low) || 0 %>
              <% change = team_member_metrics[member.id]&.dig(:universality, :low_change) %>
              <td class="table__cell--value">
                <div class="relative-container">
                  <span class="text-value"><%= value %></span>
                  <% if change && change != 0 %>
                    <span class="change-indicator <%= change > 0 ? 'change-indicator--positive' : 'change-indicator--negative' %>">
                      <% if change > 0 %>
                        <svg class="icon-sm" viewBox="0 0 20 20" fill="currentColor">
                          <path fill-rule="evenodd" d="M3.293 9.707a1 1 0 010-1.414l6-6a1 1 0 011.414 0l6 6a1 1 0 01-1.414 1.414L11 5.414V17a1 1 0 11-2 0V5.414L4.707 9.707a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                        </svg>
                      <% else %>
                        <svg class="icon-sm" viewBox="0 0 20 20" fill="currentColor">
                          <path fill-rule="evenodd" d="M16.707 10.293a1 1 0 010 1.414l-6 6a1 1 0 01-1.414 0l-6-6a1 1 0 111.414-1.414L9 14.586V3a1 1 0 012 0v11.586l4.293-4.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                        </svg>
                      <% end %>
                      <%= change > 0 ? '+' : '' %><%= change %>
                    </span>
                  <% end %>
                </div>
              </td>
            <% end %>
          </tr>

          <!-- Expertise Concentration Section -->
           <tr>
             <td colspan="<%= team_members.size + 1 %>" class="section-header section-header--red">
                <div class="content-row content-row--gap">
                  <span><%= t('components.team_member_metrics.expertise_concentration') %></span>
                 <span class="section-header__hint section-header__hint--red">
                    <%= t('components.team_member_metrics.expertise_concentration_hint') %>
                 </span>
               </div>
             </td>
           </tr>
          <tr>
            <td class="table__cell--metric"><%= t('components.team_member_metrics.total') %></td>
            <% team_members.each do |member| %>
              <% value = team_member_metrics[member.id]&.dig(:expertise_concentration, :total) || 0 %>
              <% change = team_member_metrics[member.id]&.dig(:expertise_concentration, :total_change) %>
              <td class="table__cell--value">
                <div class="relative-container">
                   <span class="badge <%= value > 0 ? 'badge--danger' : 'badge--success' %>">
                     <%= value %>
                   </span>
                  <% if change && change != 0 %>
                    <span class="change-indicator <%= change < 0 ? 'change-indicator--positive' : 'change-indicator--negative' %>">
                      <% if change < 0 %>
                        <svg class="icon-sm" viewBox="0 0 20 20" fill="currentColor">
                          <path fill-rule="evenodd" d="M3.293 9.707a1 1 0 010-1.414l6-6a1 1 0 011.414 0l6 6a1 1 0 01-1.414 1.414L11 5.414V17a1 1 0 11-2 0V5.414L4.707 9.707a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                        </svg>
                      <% else %>
                        <svg class="icon-sm" viewBox="0 0 20 20" fill="currentColor">
                          <path fill-rule="evenodd" d="M16.707 10.293a1 1 0 010 1.414l-6 6a1 1 0 01-1.414 0l-6-6a1 1 0 111.414-1.414L9 14.586V3a1 1 0 012 0v11.586l4.293-4.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                        </svg>
                      <% end %>
                      <%= change > 0 ? '+' : '' %><%= change %>
                    </span>
                  <% end %>
                </div>
              </td>
            <% end %>
          </tr>
          <tr>
            <td class="table__cell--metric-indented">
              <span class="inline-indicator inline-indicator--red">
                <%= t('components.team_member_metrics.high') %>
              </span>
            </td>
            <% team_members.each do |member| %>
              <% value = team_member_metrics[member.id]&.dig(:expertise_concentration, :high) || 0 %>
              <% change = team_member_metrics[member.id]&.dig(:expertise_concentration, :high_change) %>
              <td class="table__cell--value">
                <div class="relative-container">
                  <span class="text-value"><%= value %></span>
                  <% if change && change != 0 %>
                    <span class="change-indicator <%= change < 0 ? 'change-indicator--positive' : 'change-indicator--negative' %>">
                      <% if change < 0 %>
                        <svg class="icon-sm" viewBox="0 0 20 20" fill="currentColor">
                          <path fill-rule="evenodd" d="M3.293 9.707a1 1 0 010-1.414l6-6a1 1 0 011.414 0l6 6a1 1 0 01-1.414 1.414L11 5.414V17a1 1 0 11-2 0V5.414L4.707 9.707a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                        </svg>
                      <% else %>
                        <svg class="icon-sm" viewBox="0 0 20 20" fill="currentColor">
                          <path fill-rule="evenodd" d="M16.707 10.293a1 1 0 010 1.414l-6 6a1 1 0 01-1.414 0l-6-6a1 1 0 111.414-1.414L9 14.586V3a1 1 0 012 0v11.586l4.293-4.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                        </svg>
                      <% end %>
                      <%= change > 0 ? '+' : '' %><%= change %>
                    </span>
                  <% end %>
                </div>
              </td>
            <% end %>
          </tr>
          <tr>
            <td class="table__cell--metric-indented">
              <span class="inline-indicator inline-indicator--yellow">
                <%= t('components.team_member_metrics.normal') %>
              </span>
            </td>
            <% team_members.each do |member| %>
              <% value = team_member_metrics[member.id]&.dig(:expertise_concentration, :normal) || 0 %>
              <% change = team_member_metrics[member.id]&.dig(:expertise_concentration, :normal_change) %>
              <td class="table__cell--value">
                <div class="relative-container">
                  <span class="text-value"><%= value %></span>
                  <% if change && change != 0 %>
                    <span class="change-indicator <%= change < 0 ? 'change-indicator--positive' : 'change-indicator--negative' %>">
                      <% if change < 0 %>
                        <svg class="icon-sm" viewBox="0 0 20 20" fill="currentColor">
                          <path fill-rule="evenodd" d="M3.293 9.707a1 1 0 010-1.414l6-6a1 1 0 011.414 0l6 6a1 1 0 01-1.414 1.414L11 5.414V17a1 1 0 11-2 0V5.414L4.707 9.707a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                        </svg>
                      <% else %>
                        <svg class="icon-sm" viewBox="0 0 20 20" fill="currentColor">
                          <path fill-rule="evenodd" d="M16.707 10.293a1 1 0 010 1.414l-6 6a1 1 0 01-1.414 0l-6-6a1 1 0 111.414-1.414L9 14.586V3a1 1 0 012 0v11.586l4.293-4.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                        </svg>
                      <% end %>
                      <%= change > 0 ? '+' : '' %><%= change %>
                    </span>
                  <% end %>
                </div>
              </td>
            <% end %>
          </tr>
          <tr>
            <td class="table__cell--metric-indented">
              <span class="inline-indicator inline-indicator--green">
                <%= t('components.team_member_metrics.low') %>
              </span>
            </td>
            <% team_members.each do |member| %>
              <% value = team_member_metrics[member.id]&.dig(:expertise_concentration, :low) || 0 %>
              <% change = team_member_metrics[member.id]&.dig(:expertise_concentration, :low_change) %>
              <td class="table__cell--value">
                <div class="relative-container">
                  <span class="text-value"><%= value %></span>
                  <% if change && change != 0 %>
                    <span class="change-indicator <%= change < 0 ? 'change-indicator--positive' : 'change-indicator--negative' %>">
                      <% if change < 0 %>
                        <svg class="icon-sm" viewBox="0 0 20 20" fill="currentColor">
                          <path fill-rule="evenodd" d="M3.293 9.707a1 1 0 010-1.414l6-6a1 1 0 011.414 0l6 6a1 1 0 01-1.414 1.414L11 5.414V17a1 1 0 11-2 0V5.414L4.707 9.707a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                        </svg>
                      <% else %>
                        <svg class="icon-sm" viewBox="0 0 20 20" fill="currentColor">
                          <path fill-rule="evenodd" d="M16.707 10.293a1 1 0 010 1.414l-6 6a1 1 0 01-1.414 0l-6-6a1 1 0 111.414-1.414L9 14.586V3a1 1 0 012 0v11.586l4.293-4.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                        </svg>
                      <% end %>
                      <%= change > 0 ? '+' : '' %><%= change %>
                    </span>
                  <% end %>
                </div>
              </td>
            <% end %>
          </tr>

        </tbody>
      </table>
    <% else %>
        <p class="text-muted--center py-4"><%= t('components.team_member_metrics.no_data') %></p>
    <% end %>
  </div>
</div>