<div class="card">
  <div class="card__header">
     <h3 class="card__title"><%= t('components.universality_index.title') %></h3>
     <p class="card__description"><%= t('components.universality_index.description') %></p>
  </div>
  <div class="card__body">
    <div class="space-y-3">
      <% @universality_index.each do |user_id, count| %>
        <% user = team_members.find { |u| u.id == user_id } %>
          <div class="card-item">
            <div class="content-card">
              <span class="text-heading"><%= user&.full_name %></span>
           </div>
            <div class="content-row">
             <span class="badge badge--secondary">
                <%= count %> <%= t('components.universality_index.technologies', count: count) %>
             </span>
           </div>
         </div>
      <% end %>
    </div>
  </div>
</div>
