<h1>Управление кварталами</h1>

<%= form_tag admin_quarters_path, method: :get do %>
  <%= label_tag :status, "Фильтр по статусу:" %>
  <%= select_tag :status, 
      options_for_select([["Все", ""]] + Quarter.statuses.keys.map { |s| [s.humanize, s] }, params[:status]),
      onchange: "this.form.submit()" %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Название</th>
      <th>Статус</th>
      <th>Даты</th>
      <th>Действия</th>
    </tr>
  </thead>
  <tbody>
    <% @quarters.each do |quarter| %>
      <tr>
        <td><%= quarter.name %></td>
        <td><%= quarter.status %></td>
        <td><%= quarter.start_date %> - <%= quarter.end_date %></td>
        <td>
          <%= link_to "Просмотр", admin_quarter_path(quarter) %>
          <% if quarter.draft? && policy([:admin, quarter]).activate? %>
            <%= button_to "Активировать", activate_admin_quarter_path(quarter), method: :post %>
          <% end %>
          <% if quarter.active? && policy([:admin, quarter]).close? %>
            <%= button_to "Закрыть", close_admin_quarter_path(quarter), method: :post %>
          <% end %>
          <% if quarter.closed? && policy([:admin, quarter]).archive? %>
            <%= button_to "Архивировать", archive_admin_quarter_path(quarter), method: :post %>
          <% end %>
          <% if quarter.draft? && policy([:admin, quarter]).destroy? %>
            <%= button_to "Удалить", admin_quarter_path(quarter), method: :delete, data: {confirm: "Удалить квартал?"} %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Создать квартал", new_admin_quarter_path %>

<%= paginate @quarters %>
