<div class="page--centered">
  <div class="container--narrow">
    <h2 class="heading--centered mt-6">Войти в Starmap</h2>
  </div>
  <div class="card card--centered">
    <div class="card--plain">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "form--vertical px-4 sm:px-10" }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div>
          <%= f.label :email, "Email", class: "form-label" %>
          <div class="form-field">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-input" %>
          </div>
        </div>
        <div>
          <%= f.label :password, "Пароль", class: "form-label" %>
          <div class="form-field">
            <%= f.password_field :password, autocomplete: "current-password", class: "form-input" %>
          </div>
        </div>
        <% if devise_mapping.rememberable? %>
          <div class="form-actions">
            <div class="flex items-center">
              <%= f.check_box :remember_me, class: "form-checkbox" %>
              <%= f.label :remember_me, "Запомнить меня", class: "form-checkbox-label" %>
            </div>
            <div class="text-sm">
              <%= link_to "Забыли пароль?", new_password_path(resource_name), class: "link" %>
            </div>
          </div>
        <% end %>
        <div class="form-submit">
          <%= f.submit "Войти", class: "btn btn--primary" %>
        </div>
      <% end %>
      <div class="mt-6 text-center">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
